.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.text-box-trim {
  text-box-trim: trim-both;
  /* text-box-edge: cap alphabetic; */
}